.navbar {
  /*background-color: #82b74b !important;*/
  background-color: #36b030;
  /*background-color: transparent;*/
  /*background-image: url('../img/grass_and_stone.jpg');*/
  background-size: cover;
}
.nav-link,
.navbar-brand {
  color: #ffffff;
}
.navbar li {
  color: #ffffff;
  margin-left: 20px;
}

.header {
  background-image: url('../img/minecraft_landscape.png');
  /*background-attachment: fixed;*/
  background-size: cover;
  background-position: center;
  height: 100vh; /* 1 vh = 1% de la "viewport height"*/
}

.overlay {
  color: #ff0000;
  vertical-align: center;
  text-align: center;
  padding: 30vh 0;
}

footer {
  
  background-color: #5A381E;
}