/* -- Barre de navigation -- */
.navbar {
  background-color: #36b030;
  background-size: cover;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar li {
  color: #ffffff;
  margin-left: 20px;
}

/* -- Première page avec un paysage du jeu et du texte par dessus -- */
.header-landpage {
  /*background-image: url('../img/minecraft_landscape.png');*/
  background-image: url('../img/hd_village.png');
  /*background-attachment: fixed;*/
  background-size: cover;
  background-position: center;
  height: 100vh; /* 1 vh = 1% de la "viewport height" càd de la hauteur de la zone d'affichage */
}

.transparent-bg {
  background-color: transparent;
  transition: background-color 1s ease 0s; /* Transition coloré->transparent */
}

.colored-bg {
  background-color: #36b030;
  transition: background-color 1s ease 0s; /* Transition transparent->coloré*/
}

.over-background {
  color: #36b030;
  text-shadow: 0px 0px 20px #36b030;

  vertical-align: center;
  text-align: center;
}
.over-background h1 {
  padding-top: 20vh;
}
.over-background h2 {
  font-weight: normal;
  margin: 0 0;
}

/* Assure que les éléments soient après la navbar */
.after-navbar {
  padding-top: 50px;
}

/* -- Pied de page -- */
footer {
  margin-top: 50px;
  background-color: #5A381E;
}

/* -- Polices et couleurs -- */
body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 13pt;
  background-color: #F5F5F5;
}

a {
  color: #36b030;
}
a:hover {
  color: #009FE3;
}

h1 {
  font-weight: 900;
  font-style: bold;
}
h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: bold;
}

/* -- Images et boxes -- */
img.round-small {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

img.small {
  height: 100px;
}

.box {
  padding: 1em;
  border: solid 1px #afafaf;
  border-radius: 4px;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 1.5em;
}
.box p {
  margin-top: 1.5em;
}
